body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:736px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4 {
  position:absolute;
  left:102px;
  top:37px;
  width:639px;
  height:167px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:207px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u7 {
  position:absolute;
  left:211px;
  top:0px;
  width:211px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:207px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:30px;
}
#u9 {
  position:absolute;
  left:422px;
  top:0px;
  width:212px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:208px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:30px;
  width:211px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:207px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u13 {
  position:absolute;
  left:211px;
  top:30px;
  width:211px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:207px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:30px;
}
#u15 {
  position:absolute;
  left:422px;
  top:30px;
  width:212px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:208px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:102px;
}
#u17 {
  position:absolute;
  left:0px;
  top:60px;
  width:211px;
  height:102px;
}
#u18 {
  position:absolute;
  left:2px;
  top:43px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:102px;
}
#u19 {
  position:absolute;
  left:211px;
  top:60px;
  width:211px;
  height:102px;
}
#u20 {
  position:absolute;
  left:2px;
  top:43px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:102px;
}
#u21 {
  position:absolute;
  left:422px;
  top:60px;
  width:212px;
  height:102px;
}
#u22 {
  position:absolute;
  left:2px;
  top:43px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
