body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:564px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:114px;
  top:77px;
  width:300px;
  height:25px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1 {
  position:absolute;
  left:424px;
  top:77px;
  width:140px;
  height:25px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
